/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
}

#header , #main , #footer {
    margin: 15px;
    text-align: center;
}

#header {
    border: 2px solid violet;
    height: 50px;
}

#main {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: 15px;
}

.sidebarleft {
    border: 2px solid blue;
    width: 15%;
}

.content {
    border: 2px solid red;
    width: 65%;
}

.sidebarright {
    border: 2px solid yellow;
    width: 15%;
}

#footer {
    border: 2px solid greenyellow;
    height: 30px;
}