body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 40px;
}

.container {
  width: 400px;
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block; 
  /* Chiếm toàn bộ chiều ngang của dòng*/
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6ffe6;
  border: 1px solid #66cc66;
  border-radius: 4px;
}
